@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ola!</h1>
    <p>Catalago de Produtos</p>
</div>

<form asp-controller="Produto" asp-action="Index" method="get" class="search-bar">
    <input type="text" class="form-control" name="pesquisa" placeholder="Digite sua pesquisa...">
    <button type="submit" class="btn btn-primary">Pesquisar</button>
</form>
